@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <b>StreetWorkout</b><br />
    Lublin<br />
	Polska<br />

</address>

<address>
    <strong>Grupa na fb:</strong> <a href="https://www.facebook.com/StreetWorkoutLublin/">Dołącz</a><br />
</address>
