@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    StreetWorkout<br />
    Lublin<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Grupa na fb:</strong> <a href="https://facebook.pl">Dołącz</a><br />
</address>
